.benefit {
    text-align: center;

    @include phones {
        display: flex;
        text-align: left;
    }
}

.benefit__title {
    font-size: rem(24px);
    font-weight: 700;
    color: #292929;
    margin-bottom: rem(2px);

    @include tablets {
        margin-bottom: 18px;
    }

    @include phones {
        font-size: rem(27px);
        margin-bottom: rem(3px);
    }
}

.benefit__desc {
    padding: 0 6%;
    line-height: 1.2;

    @include tablets {
        padding: 0;
    }
}

.benefit__image {
    margin-bottom: rem(17px);

    @include tablets {
        margin-bottom: rem(20px);
    }

    @include phones {
        margin-right: rem(10px);
        margin-bottom: 0;
    }
}

.benefit__image-wrapper {
    display: inline-block;
    width: rem(128px);
    height: rem(128px);
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;

    @include phones {
        width: rem(147px);
        height: rem(147px);
    }
}

.benefit__icon {
    width: rem(68px);
    height: rem(68px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__text {
    @include phones {
        padding-top: rem(13px);
    }
}