.btn {
    font-size: rem(16px);
    font-weight: 700;
    padding: rem(18px) rem(42px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    background: $red;
    color: white;
    text-decoration: none;
    display: inline-block;
    border: none;

    @include tablets {
        padding: rem(22px) rem(46px);
    }

    @include phones {
        font-size: rem(21.8px);
    }

    &.order {
        padding: rem(22px) rem(41px);
        margin-right: rem(-29px);
    }

    &:hover {
        background: #CA1B36;
    }
}

.btn--theme--transparent {
    background: transparent;
    font-weight: 400;
    text-transform: none;

    &:hover {
        background: transparent;
        color: $red;
    }
}
