.btn {
    font-size: 16px;
    font-weight: 700;
    padding: 18px 42px;
    text-transform: uppercase;
    border-radius: 100px;
    line-height: 1;
    background: $red;
    color: white;
    text-decoration: none;
    display: inline-block;
    border: none;

    &.order {
        padding: 22px 41px;
        margin-right: -29px;
    }

    &:hover {
        background: #CA1B36;
    }
}

.btn--theme--transparent {
    background: transparent;
    font-weight: 400;
    text-transform: none;

    &:hover {
        background: transparent;
        color: $red;
    }
}
