.container.hero__container::after {
    position: absolute;
    content: "";
    width: rem(46px);
    height: rem(10px);
    left: rem(848px);
    top: rem(795px);
    background: #C4C4C4;
    transform: rotate(-45deg);

    @include tablets {
        left: rem(656px);
        top: rem(1050px);
    }

    @include phones {
        left: rem(432px);
        top: rem(906px);
    }
}

.container.benefit__container::after {
    content: url('../img/icon/Vector\ 2.svg');
    position: absolute;
    left: rem(-18px);
    top: rem(528px);

    @include tablets {
        left: rem(46px);
        top: rem(742px);
    }

    @include phones {
        left: rem(29px);
        top: rem(745px);
    }
}

.container.reviews-container::after {
    content: '';
    position: absolute;
    background: #868686;
    width: rem(35px);
    height: rem(35px);
    border-radius: 50%;
    left: rem(0px);
    top: rem(577px);

    @include tablets {
        left: rem(60px);
        top: rem(820px); 
    }

    @include phones {
        left: rem(44px);
        top: rem(788px); 
    }
}