.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 40px;
    width: 40px;
}

nav {
    display: flex;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__item {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }

}

.tel {
    display: flex;
    justify-content: space-between;
}

.phone-number {
    font-size: 18px;
    text-decoration: none;
    display: flex;
    align-items: center;   
}

.phone-number__icon-elem {
    width: 14px;
    height: 13.78px;
}

.menu__link {
    text-decoration: none;
}
