.header {
    display: flex;
    align-items: flex-start;
    padding-right: rem(25px);
}

.logo {
    height: rem(40px);
    width: rem(40px);
    margin-right: rem(38px);
}

nav {
    display: flex;
}

.menu {
    margin: 0 30px;
    padding-top: 5px;

    @include tablets {
        display: none;
    }
}

.menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.menu__item {
    margin-right: rem(27px);
    font-family: $sfont;
    margin-right: 1.5rem;
    margin-bottom: 10px;


    &:last-child {
        margin-right: 0;
    }

}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}

.tel {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.phone-number {
    font-size: rem(18px);
    text-decoration: none;
    display: flex;
    align-items: center;   
    white-space: nowrap;
}

.phone-number__icon-elem {
    width: rem(14px);
    height: rem(14px);    
}

.phone-number__icon {
    flex-shrink: 0;
}

.phone-number__text {
    white-space: nowrap;
}

.menu__link {
    text-decoration: none;
    font-size: rem(18px);
    white-space: nowrap;
}
