.section {
    height: 100vh;
    min-height: rem(650px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &.map {
        min-height: rem(732px);
    }
}

.section .benefits::after {
    content: url('../img/icon/Vector\ 2.svg');
    position: absolute;
    left: rem(353px);
    top: rem(615px);

    @include phones {
        left: rem(29px);
        top: rem(745px);
    }
}

.section .reviews__switcher::after {
    content: url('../img/icon/Ellipse\ 7.svg');
    position: absolute;
    width: rem(35px);
    height: rem(35px);
    left: rem(373px);
    top: rem(658px)

}

.section__title {
    font-size: rem(48px);
    font-weight: 700;
    margin-bottom: rem(61px);
    line-height: rem(52px);
    text-align: center;
    text-transform: uppercase;
    color: #292929;

    @include tablets {
        margin-bottom: rem(34px);
    }

    &.reviews {
        margin-bottom: rem(39px);

        @include phones {
            margin-bottom: rem(24px);
            font-size: rem(32px);
        }
    }

    &.order-section {
        color: white;

        @include phones {
            margin-bottom: rem(44px);
            font-size: rem(32px);
        }
    }
}

.order-section {
    background: #181818;
    color: white;
}
