.section {
    height: 100vh;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.section .benefits::after {
    content: url('../img/icon/Vector\ 2.svg');
    position: absolute;
    left: 353px;
    top: 615px;
}

.section .reviews__switcher::after {
    content: url('../img/icon/Ellipse\ 7.svg');
    position: absolute;
    width: 35px;
    height: 35px;
    left: 373px;
    top: 658px

}

.section__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 61px;
    line-height: 52px;
    text-align: center;
    text-transform: uppercase;
    color: #292929;

    &.order-section {
        color: white;
    }
}

.order-section {
    background: #181818;
    color: white;
}
