.team-container {
    min-height: rem(656px); 
       
    @include tablets {
        min-height: rem(1000px);
    }

    @include phones {
        min-height: rem(756px);
    }
}

.section__title.team-section {
    margin-bottom: rem(50px);

    @include tablets {
        margin-top: rem(164px);
        margin-bottom: rem(34px);
    }

    @include phones {
        font-size: rem(35.2px);
        margin-top: rem(50px);
        margin-bottom: rem(32px);
    }
}

.team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team.team--version--desktop {
    @include tablets {
        display: none;
    }
}

.team.team--version--desktop .team__content {
    position: absolute;
    top: 100%;
}

.team.team--version--mobile {
    display:none;
    
    @include tablets {
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    @include phones {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
}

.team__item {
    position: relative;
    flex: 1;
    margin-right: 2%;
    text-align: center;
    max-width: rem(231px);

    @include tablets {
        margin-bottom: rem(5px);
    }
}

.team__item:last-child {
    margin-right: 0;
    
    @include tablets {
        margin-right: 0;
        margin-bottom: rem(8px);
    }
}

.team__member {
    height: rem(288px);
    background-color: #f1f1f1;
    margin-bottom: rem(24px);

    @include phones {
    height: rem(218px);
    width: rem(168px);
    margin: 0 auto rem(22px);
    }

    @include tablets {
    height: rem(312px);
    width: rem(216px);
    margin: 0 auto rem(22px);    
    }
}

.team__member img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.team__title {
    display: inline-flex;
    color: #292929;
    text-decoration: none;
    font-size: rem(18px);
    font-weight: 700;
    margin-bottom: rem(10px);
    position: relative;
    align-items: center;

    @include tablets {
        font-size: rem(21px);
    }

    @include phones {
        font-size: rem(21px);
        margin-bottom: 0;
    }
}

.team__title--active .team__content {
    height: auto;
}

.team__triangle {
    position: relative;
    top: 4%;
    right: -3%;
    border: 5px solid transparent;
    border-top: 5px solid $red;
    transition: transform .1s;
}

.team__triangle.active {
    transform: rotateX(180deg);
    top: 25%;
}

.team__content {
    height:0;
    transition: height .3s;
    overflow: hidden;
    width: rem(220px);

}

.team__position {
    color: #292929;

    @include tablets {
        font-size: rem(18px);
        font-weight: 700;
    }

    @include phones {
        font-size: rem(18px);
        font-weight: 700;
    }
}

.team__about {
    font-weight: 300;
}

